
body {
    background-color: whitesmoke;
}
#result {
    font-style: italic;
}

img {
    position: relative;
    top: 10px;
    width: 32px;
    height: 32px;
}

input:hover {
    background-color:rgb(245, 245, 189);
}

.literals {
    font-style: italic;
    font-weight: bold;
    text-align: right;
}